@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

:root {
    --bg-color: #FFFFFF;
    --second-bg-color: #f5fcff;
    --text-color: #1c1e53;
    --heading-color: #282938;
    --text-color-blue: #5e3bee;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25.33px;
    padding-bottom: 25.33px;
    padding-left: 85.33px;
    padding-right: 85.33px;
}

.header button {
    border: 1.33px solid #5E3BEE;
    background-color: white;
    color: #5E3BEE;
    padding: 18.6667px 42.6667px;
    border-radius: 5.33333px
}


.navbar_menu a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;


}

.navbar_menu a:hover,
.navbar a.active {
    color: var(--text-color-blue);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    background-color: var(--second-bg-color);

}

span {
    color: #5e3bee;

}

.home-img img {
    width: 35vw;
}

.home-content h3 {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.home-content h1 {
    font-family: Roboto;
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;



}

.home-content p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.button {
    border: 1.33px solid #5E3BEE;
    background-color: white;
    color: #5E3BEE;
    padding: 18.6667px 42.6667px;
    border-radius: 5.33333px
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #5e3bee;
}

.button1:hover {
    background-color: #5e3bee;

    color: white;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.about-img img {
    width: 35vw;
    align-self: flex-start;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.services h2 {
    margin-bottom: 5rem;
    font-weight: 500-Medium;
    align-self: flex-start;
    font-size: 2rem;
    height: 1.5;
}

.services h1 {
    margin-bottom: 5rem;
    font-weight: 700-Bold;
    font-size: 3rem;
    height: 1.2;
}

.expertise-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.expertise-container .expertise-box {
    flex: 1 1 30rem;
    width: 500px;
    height: 300px;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border: 2px solid #FFFFFF;
    border-radius: 2rem;
    text-align: center;
}

.expertise-container .expertise-box:hover {
    border-bottom: 4px solid #5E3BEE;
    transform: scale(1.02);
}

.expertise-box h3 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;


}

.expertise-box p {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


}

.expertise-box .expertise-img {
    width: 50px;
    height: 50px;
    padding: 14px;
    justify-content: left;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10.6667px;
}


.about-content h1 {
    font-size: 7rem;
    font-weight: 700-Bold;
    line-height: 1.3;
    text-align: left;
}

.about-content p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.portfolio .body1 {
    margin-bottom: 5rem;
    font-weight: 500-Medium;
    align-self: flex-start;
    font-size: 2rem;
    height: 1.5;

}

.portfolio .portfolio-title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;


}

.portfolio {
    background: var(--second-bg-color);

}

.portfolio .portfolio_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);


}

.portfolio-container .portfolio-box:hover {
    border-color: #5e3bee;
    transform: scale(1.02);
}

.portfolio-box img {
    width: 100%;
    border-radius: 2rem;
}

.portfolio-box .portfolio-layer h4 {
    margin-bottom: 5rem;
    font-weight: 500-Medium;
    text-align: left;
    font-size: 3rem;
    height: 1.5;
}

.portfolio-box .portfolio-layer p {
    font-size: 1.6rem;
    font-weight: 400-Normal;
    margin: 2rem;
    text-align: left;
}

.portfolio-box .portfolio-layer i {
    font-size: 1.6rem;
    font-weight: 400-Normal;
    margin: 2rem;
    text-align: left;
}

.portfolio .portfolio-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.3333px 21.3333px;
    gap: 16px;
    background: #E62872;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 10.6667px;
    border: none;
    height: 74px;

}

.portfolio .portfolio-button .body2 {
    font-size: 1.6rem;
    font-weight: 400-Normal;
    margin: 2rem;
    color: #FFFFFF;
    text-align: left;

}

.portfolio .portfolio-button:hover {
    background: #1C1E53;
    color: white;
}

.testimonials {
    padding: 112px 64px;
    background-color: #F5FCFF;
    width: 100%;
}

.testimonials-subtitle {
    font-size: 1.6rem;
    font-weight: 400-Normal;
    margin: 2rem;
    text-align: left;
}

.testimonials-title {
    margin-bottom: 5rem;
    font-weight: 500-Medium;
    text-align: left;
    font-size: 3rem;
    height: 1.5;
}

.testimonials-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 42.67px;
    overflow: auto;
    width: 100%;
}

.testimonials-card {
    border: 1.33333px solid #006B6A;
    border-radius: 8px;
    padding: 42.6667px;
    width: 500px;
    min-width: 500px;
}

.testimonials-card .body1 {
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


}

.testimonials-card-stars {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5.33px;
}

.testimonials-card-creator {
    display: flex;
    flex-direction: row;
}

.testimonials-card-creator-avatar {
    width: 70px;
    height: 70px;
}

.testimonials-card-creator-name-occupation {
    margin-left: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.testimonials-card-creator-name {
    font-weight: 600;
    margin-bottom: 0px;
}


.testimonials-card-creator-occupation {
    margin: 0px;
}

.contact h3 {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2.5rem;
    height: 1.5;

}

.contact h2 {
    margin-bottom: 4rem;
    font-weight: 500-Medium;
    text-align: center;
    font-size: 7rem;
    height: 1.5;

}

.contact p {
    font-weight: 400-normal;
    text-align: center;
    font-size: 2.5rem;
    height: 1.5;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact form .input-box input,
.contact form textarea,
.contact form label,
.contact form select {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: .8rem;
    border: 2px solid #5e3bee;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 48%;
}

.contact form textarea {
    resize: none;
}

.contact form .input-box p {
    font-weight: 400-normal;
    text-align: left;
    font-size: 2.5rem;
    height: 1.5;

}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;

}

footer {
    padding: 106.667px 85.3333px;
    gap: 106.67px;
    background: #F5FCFF;
}

.footer-socials-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 42.67px;
}

.footer-menu a:hover,
.footer a.active {
    color: var(--text-color-blue);
}

.footer-menu a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}


.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-hr {
    background: rgba(40, 41, 56, 0.55);
    height: 1px;
    margin-top: 80px;
}

.footer-credits-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-credits {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18.6667px;
    line-height: 150%;
    color: #000000;
}

.footer-terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

  @media only screen and (max-width:420px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .home {
        flex-direction: column;
        justify-content: center;
    }

    .home-img {
        padding-top: 33px;
        padding-bottom: 33px;
        height: auto;
        object-fit: contain;
    }

    .home h3,
    .home p {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 8px;
        padding-right: 0px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .home h1 {
        display: flex;
        align-items: flex-start;
        font-size: 30px;
        padding: 8px 0px;
    }


    .expertise {
        margin-top: 80px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .expertise-container {
        margin-top: 86px;
        gap: 42px;
        padding: 0px 16px;
    }

    .expertise-box {
        width: 160px;
    }


    .about-content {
        flex-direction: column;
        padding: 86px 16px;
        gap: 80px;
    }

    .about-img {
        max-width: 70%;
    }


    .testimonials {
        padding: 80px 0px;
    }

    .testimonials-cards {
        display: flex;
        flex-direction: row;
        gap: 42.67px;
        overflow: auto;
        padding: 16px 0px;
    }
    .contact .input-box {
        align-self: flex-start;
        display: inline-flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        margin-left: 13px;
    }

    .portfolio {
        padding-top: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .portfolio-container {
        margin: 0px;
        width: 100%;
    }

    footer {
        padding: 106px 0px;
        gap: 86px;
        background: #F5FCFF;
    }

    .footer-credits-terms {
        flex-direction: column;
    }

    .footer-terms {
        flex-direction: column;
    }

    .footer-hr {
        margin: 16px 16px;
    }
    .footer-menu {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 20px;
    }

    .contact {
        margin: 80px 0px;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials-card {
        border: 1.33333px solid #006B6A;
        border-radius: 8px;
        padding: 42.6667px;
        width: 160px;
        min-width: 160px;
    }
}